.items {
  padding-top: 30px;
}

.sidebar-item {
  border: none;
  background: #CBD6CF;
  color: #4a895f;
  padding: 0.2rem 1.25rem;
}

.list-group-item > a {
  color: #4A895F;
  text-decoration: none;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: transparent;
  background-color: transparent;
  border-color: rgb(71, 124, 80);
}

input[type='radio'] {
  visibility: hidden;
  position: absolute;
}

input[type=radio] + label {
  cursor: pointer;
}

input[type=radio] + label:hover {
  color: #dbe0dc;
  background: #41774a;
}

input[type=radio] + label:before {
  height: 16px;
  width: 16px;
  margin-right: 4px;
  content: ' ';
  display: inline-block;
  vertical-align: baseline;
  border: 0.5px solid #477c50;
  border-radius: 50%;
  transition: 0.4s
}

input[type=radio]:checked + label:before {
  box-shadow: 0 0 0 0.2rem rgba(71, 124, 80, 0.5), inset 0 0 0 4px rgb(71, 124, 80);
}

#bk-navbar {
  background-color: #4A895F;
}

#logo {
  font-size: 32px;
}

#sidebar {
  position: fixed;
  top: 74px;
  height: calc(100vh - 74px);;
  background: #CBD6CF;
}